@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");

svg {
	font-family: "Silkscreen", sans-serif;
	width: 100%;
	height: auto;
	display: block;
}

svg text {
	animation: stroke 6s infinite alternate;
	stroke-width: 2;
	stroke: #198754;
	font-size: 90px; /* Standardgröße für große Bildschirme */
}

/* Media Queries – von klein nach groß! */


@media (max-width: 575px) { /* Kleine Smartphones */
	svg text {
		font-size: 30px;
	}
}

@media (min-width: 576px) and (max-width: 900px) { /* Große Smartphones */
	svg text {
		font-size: 35px;
	}
}

@media (min-width: 901px) and (max-width: 1300px) { /* Tablets */
	svg text {
		font-size: 50px;
	}
}


/* Animation */
@keyframes stroke {
	0% {
		fill: rgba(220,53,69,0); 
		stroke: rgba(25,135,84,1);
		stroke-dashoffset: 25%; 
		stroke-dasharray: 0 50%; 
		stroke-width: 2;
	}
	70% { fill: rgba(220,53,69,0); stroke: rgba(25,135,84,1); }
	80% { fill: rgba(220,53,69,0); stroke: rgba(25,135,84,1); stroke-width: 3; }
	100% {
		fill: rgba(220,53,69,1); 
		stroke: rgba(25,135,84,0);
		stroke-dashoffset: -25%; 
		stroke-dasharray: 50% 0; 
		stroke-width: 0;
	}
}

/* Wrapper Styling */
.wrapper {
	background-color: #212529;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px; /* Feste Höhe für bessere Kontrolle */
}
