/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}


/* CooC'S styles */

/* Spielfeld-Container */
#tic-tac-toe-board {
    width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

/* Einzelne Zellen */
.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
    border: 1px solid#388754; /* leichter transparenter Rand für Dark Theme */
}

/* Farben für Spieler */
.x {
    color: #0d6efd; /* Bootstrap Blau */
}

.circle {
    color: #dc3545; /* Bootstrap Rot */
}
